form {
    width: 300px;
    margin: auto;
    margin-top: 200px;
}
input[type="text"], input[type="password"],input[type="number"], input[type="submit"] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}